html {
    box-sizing: border-box;
    scrollbar-width: none;
}

body, html, .container {
    font-family: "Inter";
    font-weight: 400;
    color: var(--text-color-black);
}

.main {
    background-color: #E5E7EB;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.container {
    max-width: 1536px;
    padding: 0 10px;
    margin: 0 auto;
    overflow: hidden;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
}

.btn {
    background-color: var(--background-color-purple);
    color: var(--text-color-white);
    transition: var(--transition);
}

.btn:hover {
    background-color: #A78BFA;
}

.btn:active {
    background-color: #6D28D9;
}

.btn:disabled {
    background-color: #DDD6FE;
}

.header {
    padding-block: 24px;
}

.header {
    background-color: var(--background-color-white-dark);
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.header__top-info {
    display: flex;
    align-items: center;
}

.header__top-info-left {
    text-align: right;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    gap: 5px;
    padding-right: 12px;
    border-right: 1px solid var(--background-color-purple);
}

.header__top-info-right {
    text-align: left;
    padding-left: 12px;
}

.header__top-info-right .phone__number {
    text-decoration: none;
    color: var(--text-color-black);
    font-weight: 800;
    font-size: 36px;
    transition: var(--transition);
    margin-bottom: 4px;
}

.header__top-info-right .phone__number:hover {
    color: var(--text-color-purple);
}

.header__top-info-right {
    font-size: 24px;
    font-weight: 300;
    color: var(--text-color-gray-dark);
}

.header__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__botton-list {
    display: flex;
    gap: 24px;
}

.header__botton-item {
    position: relative;
    font-weight: 700;
    font-size: var(--desktop-text-size-header);
    text-decoration: none;
    color: var(--text-color-black);
    transition: var(--transition);
}

.header__botton-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 0;
    height: 0;
    border-bottom: 2px dashed var(--text-color-purple);
    transition: width 0.3s cubic-bezier(0.4,0,0.2,1);
    opacity: 1;
}

.header__botton-item:hover {
    color: var(--text-color-purple);
}

.header__botton-item:hover::after {
    width: 100%;
}

.header__send-btn {
    border-radius: 4px;
    padding: var(--button-padding-default);
    font-size: var(--desktop-text-size-button);
    font-weight: 700;
}

.hero {
    margin-block: 72px;
}

.hero__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.hero__about, .hero__contact {
    max-width: 50%;
}

.hero__about-title {
    line-height: 130%;
    font-size: var(--desktop-text-size-h1);
    font-weight: 800;
    margin-bottom: 12px;
}

.hero__about-description p {
    line-height: 138%;
    font-size: var(--desktop-text-size-description-large);
    margin-bottom: 16px;
}

.hero__about-img {
    border-radius: var(--border-radius-default);
    width: 100%;
    height: 352px;
    display: block;
    max-width: 100%;
}

.hero__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: var(--border-radius-default);
    background-color: var(--background-color-white);
    max-width: 100%;
    height: auto;
    padding: 24px 130px;
}

.hero__contact-title {
    font-size: var(--desktop-text-size-h2);
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}

.hero__contact-description p {
    display: flex;
    margin: 0 auto;
    text-align: center;
    font-size: var(--desktop-text-size-description-default);
    max-width: 350px;
    line-height: 148%;
    margin-bottom: 28px;
}

.hero__contacts-inputs-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 24px; */
    gap: 0 24px;
}

.hero__input-name {
    max-width: 100%;
    width: 100%;
}

.hero__contacts-inputs input {
    padding: 12px;
    border-radius: 4px;
    border: 2px solid var(--background-color-black);
    margin-bottom: 24px;
    font-size: 16px;
}

.btn-pay {
    width: 100%;
    max-width: 100%;
    padding-block: 10px;
    font-weight: 700;
    font-size: var(--desktop-text-size-button);
    border-radius: 4px;
}

.our {
    margin-bottom: 72px;
}

.our__title {
    font-size: var(--desktop-text-size-h2);
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.our__blocks-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.our__block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.our__block-title {
    font-weight: 700;
    font-size: var(--desktop-text-size-h3);
    margin-bottom: 12px;
}

.our__block-description p {
    min-width: 300px;
    line-height: 130%;
    font-size: var(--desktop-text-size-description-low);
}

.garanty {
    margin-bottom: 72px;
}

.garanty__title {
    font-size: var(--desktop-text-size-h2);
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.garanty__description p {
    text-align: center;
    margin: 0 auto;
    max-width: 756px;
    line-height: 130%;
    font-size: var(--desktop-text-size-description-default);
    margin-bottom: 24px;
}

.garanry__blocks-wrapper {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
}

.garanty__block {
    max-width: 366px;
    text-align: center;
    display: inline-block;
    margin-bottom: 36px;
}

.garanty__block img {
    margin-bottom: 4px;
}

.ganary__block-text p {
    font-weight: 700;
    line-height: 130%;
    font-size: 18px;
}

.btn-see {
    display: flex;
    margin: 0 auto;
    padding: var(--button-padding-default);
    font-size: var(--desktop-text-size-button);
    border-radius: 4px;
    font-weight: 700;
}

.reviews {
    margin-bottom: 72px;
}

.reviews__title {
    font-size: var(--desktop-text-size-h2);
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.review__block {
    position: relative;
    background-color: var(--background-color-white);
    border-radius: var(--border-radius-default);
    max-width: 626px;
    width: 100%;
    height: 350px;
    padding: 32px 43px;
}

.review__block-text p {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
}

.review__block-info {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.review__block-info {
    position: absolute;
    bottom: 32px;
}

.review__block-name {
    font-size: 24px;
    font-weight: 300;
    color: var(--text-color-gray-dark);
    z-index: 5;
}

.reviews__blocks-wrapper {
    display: flex;
    gap: 24px;
}

.reviews__blocks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-right {
    padding-left: 43px;
}

.btn-left {
    padding-right: 43px;
}

.contact {
    background-color: var(--background-color-white);
    border-radius: var(--border-radius-default);
    padding: 64px;
    margin-bottom: 72px;
}

.contact__inputs-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.contact__inputs-top input {
    padding: 12px;
    border-radius: 4px;
    border: 2px solid var(--background-color-black);
    font-size: 16px;
}

.contact__inputs-bottom textarea {
    margin-top: 24px;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 2px solid var(--background-color-black);
    font-size: 16px;
}

.contats__inputs {
    width: 100%;
}

.wrapper {
    max-width: 467px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.contact__title {
    margin-bottom: 32px;
    font-size: var(--desktop-text-size-h2);
    font-weight: 700;
}

.btn-send {
    width: 100%;
    padding-block: 12px;
    margin-top: 20px;
    border-radius: 4px;
    font-size: var(--desktop-text-size-button);
    font-weight: 700;
}

.footer {
    background-color: var(--background-color-black);
    padding: 40px 0;
    color: var(--text-color-white);
    font-size: var(--desktop-text-size-description-small);
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.footer__logo img {
    width: 150px;
    height: auto;
}

.footer__menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.footer__menu-link {
    color: var(--text-color-white);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.footer__menu-link:hover {
    color: var(--text-color-purple);
}

.footer__contacts {
    text-align: right;
}

.footer__phone {
    font-size: 24px;
    font-weight: 800;
    text-decoration: none;
    color: var(--text-color-white);
    display: block;
    margin-bottom: 4px;
    transition: color 0.3s;
}

.footer__phone:hover {
    color: var(--text-color-purple);
}

.footer__freecall {
    font-size: 14px;
    color: var(--text-color-white);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid #8989892f;
    padding-top: 24px;
}

.footer__policy {
    color: var(--text-color-white);
    text-decoration: underline;
    font-size: 14px;
    transition: color 0.3s;
}

.footer__policy:hover {
    color: var(--text-color-purple);
}

.footer__bottom {
    color: rgba(151, 151, 151, 0.235);
}

.hide__text-wrapper {
    display: none;
}

.burger__menu {
    display: none;
}

@media (min-width: 1025px) and (max-width: 1536px) {
    .container {
        max-width: 1026px;
        padding-inline: 0;
    }

    .hero__wrapper {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .hero__about, .hero__contact {
        max-width: 100%;
    }

    .hero__about {
        display: flex;
        align-items: start;
        gap: 20px;
    }

    .our__block-description p {
        min-width: 220px;
    }

    .hero, .our, .garanty, .reviews, .contact {
        margin-bottom: 48px;
    }

    .our__blocks-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .garanry__blocks-wrapper {
        display: grid;
        place-items: center;
        row-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }

    .review__block-text p {
        font-size: 18px !important;
    }

    .wrapper {
        height: 400px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
        max-width: 768px;
        padding-inline: 24px;
    }

    .hero__about {
        max-width: 100%;
    }

    .header__top-info-left {
        display: none;
    }

    .header__top {
        display: flex;
        align-items: center !important;
    }

    .header__bottom {
        border-top: 2px solid var(--background-color-purple);
        border-bottom: 2px solid var(--background-color-purple);
        padding-block: 12px;
        margin-bottom: 16px;
    }

    .hide__text-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
        padding-inline: 32px;
    }

    .hide__text {
        text-align: center;
        width: 213px;
        font-weight: 300;
        line-height: 135%;
        font-size: 14px;
    }

    .phone__number {
        font-size: 24px !important;
    }

    .header__top-info-right p {
        margin-top: 4px;
        font-size: 14px !important;
        text-align: right;
    }

    .hero__wrapper {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .hero__about-title {
        font-size: var(--device-text-size-h1);
    }

    .our__block-description p {
        min-width: 220px;
    }

    .hero, .our, .garanty, .reviews, .contact {
        margin-bottom: 48px;
    }

    .garanry__blocks-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .last {
        display: none;
    }

    .review__block-text {
        font-size: 18px !important;
    }

    .footer__top {
        align-items: center !important;
    }

    .footer__menu-list {
        gap: 15px;
    }

    .footer__menu-link {
        font-size: 14px;
    }

    .our__block-title {
        width: 200px;
    }

    .our__block-description {
        width: auto !important;
    }

    .our__blocks-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .our__block-image img {
        width: 65px;
    }

    .hero__contacts-inputs-wrapper {
        gap: 0 10px;
    }
}

/*@media (min-width: 760px) and (max-width: 1024px) {*/
/*    .our__block-image img {*/
/*        width: 65px;*/
/*    }*/
/*}*/

@media (max-width: 768px) {
    .footer__top {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

    .footer__bottom {
        flex-direction: column;
        gap: 12px;
    }

    .footer__contacts {
        text-align: left;
    }
}

@media (max-width: 758px) {
    .container {
        width: 100%;
        max-width: 640px;
        padding-inline: 20px;
    }

    .hero__contact {
        padding: 24px;
    }

    .hero__contacts-inputs {
        overflow: hidden;
    }

    .our__blocks-wrapper {
        padding-inline: 134px;
    }

    .our__blocks-wrapper, .garanry__blocks-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .garanry__blocks-wrapper {
        place-items: center;
    }

    .review__block-text p {
        font-size: 18px;
    }

    .header {
        padding-block: 0;
    }

    .header__top {
        margin-bottom: 0;
    }

    .header__bottom, .hide__text-wrapper, .header__top-info-right p {
        display: none;
    }

    .header__top-info-right .phone__number {
        font-size: 20px !important;
    }

    .burger__menu {
        display: block;
    }

    .header__top-info-right {
        margin-right: 20px;
    }
}

@media (max-width: 590px) {
    .header__top-info-right .phone__number {
        display: none;
    }

    .container {
        width: 100%;
        max-width: 570px;
        padding-inline: 20px;
    }

    .our__blocks-wrapper {
        padding-inline: 0;
    }
}

@media (max-width: 560px) {
    .hero__contacts-inputs-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 520px) {
    .hero__contacts-inputs-wrapper {
        display: block;
    }
    .contact__inputs-top {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .hero__contacts-inputs input {
        width: 100%;
        max-width: 100% !important;
    }
}

@media (max-width: 400px) {
    .header__top-logo {
        width: 180px;
        height: auto;
    }

    .hero__about-img {
        height: auto !important;
    }

    .our__block-description p {
        width: auto;
    }

    .our__block {
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .our__block-title {
        width: auto;
    }

    .garanty__block img {
        width: 255px;
        height: auto;
    }

    .ganary__block-text p {
        font-size: 14px;
    }

    .garanty__description p {
        text-align: left;
    }

    .btn-left, .btn-right {
        display: none;
    }

    .review__block {
        padding: 10px;
    }

    .review__block-text {
        font-size: 13px;
    }
}
